@use '@angular/material/core/tokens/m3-system';

@use 'themes/light';
@use 'themes/dark';

html {
  color-scheme: light;
  @include m3-system.theme((
  color: (
    theme-type: light,
    primary: light.$primary,
    tertiary: light.$tertiary,
  ),
  typography: Roboto,
  density: 0,
  ));
}

// dark mode
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    @include m3-system.theme((
    color: (
      theme-type: dark,
      primary: dark.$primary,
      tertiary: dark.$tertiary,
    ),
    typography: Roboto,
    density: 0,
    ));
  }
}
